/*----------------------------------------*/
/*  25. Brand
/*----------------------------------------*/
.brand-logo-carousel {
    .swiper-wrapper {
        align-items: center;
    }
    .brand-item {
        display: block;
        text-align: center;
    }
}
